<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.as.hometutorink">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ParentDashboardCal"></activity>
        <activity android:name=".ListOfChild" />
        <activity android:name=".HomePage" />
        <activity android:name=".HomePageTutor" />
        <activity android:name=".JobHistoryPrimary" />
        <activity android:name=".JobHistorySecondary" />
        <activity android:name=".JobListPrimary" />
        <activity android:name=".JobListSecondary" />
        <activity android:name=".ParentDashboard" />
        <activity android:name=".SignUpTutorQualifications" />
        <activity android:name=".TutorAcceptJobsPrimary" />
        <activity android:name=".TutorAcceptJobsSecondary" />
        <activity android:name=".TutorDashboard" />
        <activity android:name=".TutorRequestRecommend" />
        <activity android:name=".TutorRequestViewApp" />
        <activity android:name=".TutorRequestOpen" />
        <activity android:name=".ChildDetail" />
        <activity
            android:name=".parentSideNav"
            android:label="@string/title_activity_parent_side_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Message"
            android:label="@string/title_activity_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HireTutor" />
        <activity android:name=".ChildInfo" />
        <activity android:name=".AddNewChild" />
        <activity android:name=".SignUpParent" />
        <activity android:name=".LoginPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>